:root {
  /* --primary-color: #00e09e; */
  /* --primary-color: #fff143; */
  /* --primary-color: #75878a; */
  /* --primary-color: #622a1d; */
  /* --primary-color: #44cef6; */
  --primary-color: coral;
  --primary-color--active: chocolate;
  --normal-size: 32px;
}

html {
  background: var(--primary-color, coral);
}
.x-box {
  display: flex;
}
.x-box-content {
  flex: 1 1 auto;
}
.x-box-suffix {
  flex: 0 0 auto;
  text-align: right;
}
.x-glass {
  color: #fff;
  overflow: hidden;
  position: relative;
}
.x-glass::after {
  --blur: 10;
  background: rgba(255, 255, 255, 0.2);
  content: "";
  display: block;
  filter: blur(calc(var(--blur) * 1px));
  position: absolute;
  bottom: calc(var(--blur) * -1px);
  left: calc(var(--blur) * -1px);
  right: calc(var(--blur) * -1px);
  top: calc(var(--blur) * -1px);
  z-index: -1;
}
::-webkit-scrollbar {
  width: 12px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color--active, coral);
  /* background: rgba(255, 255, 255, 0.2); */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  /* background: rgba(0, 0, 0, 0.2); */
  background: rgba(255, 255, 255, 0.2);
}
